
@{
    ViewBag.Title = "BigAmount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sorry, but you do not have much money in the card.</h2>
<div class="row">
    <a class="btn btn-default" href="@Url.Action("WithdrawMoney", "Transactions")">Back</a>
</div>