<div class="col-md-4">
    <table class="table keyboard">
        <tr>
            <td><a href="#" class="btn btn-default key" data-value="1">1</a></td>
            <td><a href="#" class="btn btn-default key" data-value="2">2</a></td>
            <td><a href="#" class="btn btn-default key" data-value="3">3</a></td>
        </tr>
        <tr>
            <td><a href="#" class="btn btn-default key" data-value="4">4</a></td>
            <td><a href="#" class="btn btn-default key" data-value="5">5</a></td>
            <td><a href="#" class="btn btn-default key" data-value="6">6</a></td>
        </tr>
        <tr>
            <td><a href="#" class="btn btn-default key" data-value="7">7</a></td>
            <td><a href="#" class="btn btn-default key" data-value="8">8</a></td>
            <td><a href="#" class="btn btn-default key" data-value="9">9</a></td>
        </tr>
        <tr>
            <td><a href="#" class="btn btn-default clear">C</a></td>
            <td><a href="#" class="btn btn-default key" data-value="0">0</a></td>
            <td><button type="submit" class="btn btn-primary submit">Ok</button></td>
        </tr>
    </table>
</div>